@model IEnumerable<WebApplication6.Data.Entity.Specification>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Admin"))
{

<a asp-action="Create">      <i class="fa fa-plus" aria-hidden="true" style="height:30px; width: 30px"></i>   <span style="font-size: 30px; padding-left: 10px">Додати завдання</span></a>
}
</p>
<table class="table">
    <thead>
        <tr>
            <th style="font-size: 20px">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="font-size: 20px">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="font-size: 20px">
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="font-size: 20px">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="font-size: 20px">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="font-size: 20px">
                @Html.DisplayFor(modelItem => item.Author.Email)
            </td>
            <td>
                @if (User.IsInRole("Student"))
{
                    <a asp-action="Create" asp-controller="Labas" asp-route-specificationId="@item.Id"><i class="fas fa-edit" aria-hidden="true" style="height:20px; width: 20px"></i></a>
}
                @if (User.IsInRole("Admin"))
{
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" aria-hidden="true" style="height:20px; width: 20px"></i></a> 


                <a asp-action="Delete" asp-route-id = "@item.Id" ><i class="fa fa-trash" aria-hidden="true" style="height:20px; width: 20px"></i></a>
            }
                        </td>
        </tr>
}
    </tbody>
</table>
