
@model WebApplication6.Data.Entity.Specification
@using WebApplication6.Services
<a onclick="loadNewRequirment(@Model.Id)" @*asp-controller="Requirments" asp-action="Create" asp-route-specificationid="@Model.Id"*@ style="padding-left: 30px">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <span>Додати вимогу</span>
</a>
<div class="panel panel-default requirment">
    <div class="newvalue-requirment-@Model.Id">
    </div>
</div>
@foreach (var requirment in Model.Requirments)
{

    <div class="panel panel-default requirment">
        <div class=" panel-heading">
            <bold>@requirment.Name</bold>
            <a onclick="loadNewTestCase(@requirment.Id)" @*asp-controller="Requirments" asp-action="Create" asp-route-specificationid="@Model.Id"*@ style="padding-left: 30px">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
            <a asp-controller="Requirments" asp-action="Edit" asp-route-id="@requirment.Id">
                <i class="fas fa-edit" aria-hidden="true"></i>
            </a>
            <a href="#" data-id="@requirment.Id" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash" aria-hidden="true"></i></a>
            @*<a asp-controller="Requirments" asp-action="Delete" asp-route-id="@requirment.Id">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>*@
        </div>
        <div class="panel-body">
            <p>@requirment.Description</p>
        </div>
    </div>
    <div class="panel panel-default testcase">
        <div class="newvalue-testcase-@requirment.Id">
        </div>
    </div>
    @foreach (var test in requirment.TestCases)
    {
        <div class="panel panel-default testcase">
            <div class=" panel-heading">

                <bold>@test.Name</bold>
                <a asp-controller="TestCases" asp-action="Edit" asp-route-specificationid="@test.Id">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                </a>
                <a href="#" data-id="@test.Id" data-toggle="modal" data-target="#confirm-delete-test"> <i class="fa fa-trash" aria-hidden="true"></i></a>
                @*<a asp-controller="TestCases" asp-action="Delete" asp-route-specificationid="@test.Id">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>*@
            </div>
            <div class="panel-body">
                <p>@test.Description</p>
                <p>Тип тестування @test.TestCaseType.DisplayName()</p>
            </div>
        </div>

    }
}


