@model WebApplication6.Data.Entity.Laba

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Laba</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LabaStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LabaStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Email)
        </dd>


        <h4>Specification</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Specification.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Specification.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Specification.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Specification.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Specification.Author)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Specification.Author.Email)
            </dd>
            <h5>Requirments:</h5>
            @foreach (var requirment in Model.LabaCases)
            {
                <div style="background-color:aqua; border:1px solid black">
                    <dt>
                        Requirment
                    </dt>
                    <dd>
                        @if (requirment.Requirment != null)
                        {
                            <p>
                                @requirment.Requirment.Name
                            </p>
                            <p>
                                @requirment.Requirment.Description
                            </p>
                        }
                        else
                        {
                            <h4>U've not responded</h4>
                            <p>Fucking student</p>
                        }
                    </dd>
                    <dt>
                        TestCase
                    </dt>
                    <dd>
                        @if (requirment.TestCase != null)
                        {
                            <h4>@requirment.TestCase.Name</h4>
                            <p>@requirment.TestCase.Description</p>
                        }
                        else
                        {
                            <h4>U've not responded</h4>
                            <p>Fucking student</p>
                        }
                    </dd>
                </div>
            }

            <dt>
                @Html.DisplayNameFor(model => model.Mark)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Mark)
            </dd>


        </dl>




</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
