@model WebApplication6.Data.Entity.Laba

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var JsonObject  = new
    {
        Id = Model.Id,
        SpecificationId = Model.SpecificationId,
        LabaStatus = Model.LabaStatus,
        StudentId = Model.StudentId,
        LabaCases = Model.LabaCases.Select(m => new { m.RequirmentId, m.TestCaseId, m.LabaId, m.Id, m.TestCaseType })
    };
}
<script src="~/js/jquery.js"></script>
<script src="~/js/jquery-ui.js"></script>
<script src="~/js/taskscripts.js"></script>
<h2>Виконання завдання</h2>
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<form asp-action="Edit">
    @{await Html.RenderPartialAsync("LabaCases", Model);}
    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="SpecificationId" />

            <div class="form-group">
            <label asp-for="StudentId" class="control-label"></label>
            <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
            <span asp-validation-for="StudentId" class="text-danger"></span>
        </div>

            <h4>Specification</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Specification.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Specification.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Specification.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Specification.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Specification.Author)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Specification.Author.Email)
                </dd>
                <h5>Requirments:</h5>
                @for (int i = 0; i < Model.LabaCases.Count; i++)
                {

                    <input type="hidden" asp-for="@Model.LabaCases[i].RequirmentId" />
                    <input type="hidden" asp-for="@Model.LabaCases[i].TestCaseId" />
                    <input type="hidden" asp-for="@Model.LabaCases[i].Id" />
                    <div style="background-color:aqua; border:1px solid black">
                        <dt>
                            TestCase Name
                        </dt>
                        <dd>
                            @if (Model.LabaCases[i].TestCase != null)
                            {

                                <p>
                                    @Model.LabaCases[i].TestCase.Name
                                </p>
                                <p>
                                    @Model.LabaCases[i].TestCase.Description
                                </p>
                            }
                            else
                            {
                                <h4>U've not responded</h4>
                                <p>Fucking student</p>
                            }
                        </dd>
                        <dt>
                            Requirment
                        </dt>
                        <dd>
                            <div class="form-group">
                                <label asp-for="@Model.LabaCases[i].RequirmentId" class="control-label"></label>
                                <select asp-for="@Model.LabaCases[i].RequirmentId" class="form-control" asp-items="ViewBag.RequirmentId"></select>
                            </div>
                        </dd>
                    </div>
                }





                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>

                <div class="form-group">
                    <label asp-for="LabaStatus" class="control-label"></label>
                    <select asp-for="LabaStatus" class="form-control"
                            asp-items="@Html.GetEnumSelectList<WebApplication6.Data.Entity.Enum.LabaStatus>()"></select>
                    <span asp-validation-for="LabaStatus" class="text-danger"></span>
                </div>*@
</form>

<div class="row" style="padding:10px">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <a asp-action="Index" asp-controller="LabasStudent" class="btn btn-default"><i class="fa fa-backward"></i>&nbsp;&nbsp;Назад до завдань</a>
        <a id="save-action" class="btn btn-info"><i class="fa fa-save"></i>&nbsp;&nbsp;Зберегти</a>
        <a id="ready-action" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;&nbsp;Відправити на перевірку</a>
    </div>

        <div class="col-md-3">
        </div>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

        <script>
        var taskEditor = new TaskEditor();
        taskEditor.init(@Json.Serialize(JsonObject));
        </script>
