@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebApplication6.Data.Entity.Enum
@model WebApplication6.Data.Entity.Laba

@{   
    var usedTextCases = Model.LabaCases.Where(m => m.Requirment != null);
    var leftTestCase = Model.LabaCases.Except(usedTextCases);
}

<style>
    .testcase {
        margin-left: 100px;
        background-color: aquamarine !important;
        margin-right: 100px;
    }

    .requirment {
        margin-left: 5px;
        background-color: lightgreen !important;
        margin-right: 200px;
    }

    .on-requirment {
        margin-left: 5px;
        background-color: green;
        margin-right: 100px !important;
        height: 150px;
        color: aliceblue;
    }

    #testcase-container {
        background-color: rgba(255,255,224, 0.2);
        border: 1px dashed black;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .testcase-container-on {
        background-color: rgba(0,255,0, 0.2) !important;
    }
</style>
<div class="row">
    <div class="col-md-6">
        @foreach (var requirment in Model.Specification.Requirments)
        {
            <div>
                <div class="panel panel-default requirment" requirmentid="@requirment.Id">
                    <div class=" panel-heading">
                        <bold>@requirment.Name</bold>
                    </div>
                    <div class="panel-body">
                        <p>@requirment.Description</p>
                    </div>
                </div>
                @foreach (var test in Model.LabaCases.Where(m => m.RequirmentId == requirment.Id))
                {
                    <div class="panel panel-default testcase" testid="@test.TestCase.Id">
                        <div class=" panel-heading">
                            <bold>@test.TestCase.Name</bold>
                        </div>
                        <div class="panel-body">
                            <p>@test.TestCase.Description</p>
                            <select class="form-control testcasetype-select" asp-items="@Html.GetEnumSelectList<TestCaseType>()"></select>

                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <div class="col-md-6">
        <div id="testcase-container">
            @foreach (var test in leftTestCase)
            {
                <div class="panel panel-default testcase" testid="@test.Id">
                    <div class=" panel-heading">
                        <bold>@test.TestCase.Name</bold>
                    </div>
                    <div class="panel-body">
                        <p>@test.TestCase.Description</p>
                        <select class="form-control testcasetype-select" asp-items="@Html.GetEnumSelectList<TestCaseType>()" selected="@test.TestCaseType" ></select>
                    </div>
                </div>
            }
        </div>
    </div>
</div>