@model WebApplication6.Data.Entity.Laba

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Laba</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LabaStatus" class="control-label"></label>
                <select asp-for="LabaStatus" class="form-control"></select>
                <span asp-validation-for="LabaStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

            <h4>Specification</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Specification.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Specification.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Specification.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Specification.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Specification.Author)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Specification.Author.Email)
                </dd>
                <h5>Requirments:</h5>
                @foreach (var requirment in Model.Specification.Requirments)
                {
                    <div style="background-color:aqua; border:1px solid black">
                        <dt>
                            Name
                        </dt>
                        <dd>
                            @requirment.Name
                        </dd>
                        <dt>
                            Description
                        </dt>
                        <dd>
                            @requirment.Description
                        </dd>
                        <h5>Test Cases:</h5>

                        <div class="form-group">
                            <label asp-for="SpecificationId" class="control-label"></label>
                            <select asp-for="SpecificationId" class="form-control" asp-items="ViewBag.TestCase"></select>
                        </div>
                    </div>
                }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
